.items-container li {
    border-radius: 20px;
    background-image: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.single-item h3 {
    text-align: center;
    color: #353535;
    font-family: "JetBrains Mono",monospace;
    font-size: 20px;
}

.single-item a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

.single-item button {
    align-items: center;
    appearance: none;
    background-color: #01ABB9;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#01ABB9 0 -3px 0 inset;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 40px;
    list-style: none;
    overflow: hidden;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
  
.single-item button:focus {
    box-shadow: #01ABB9 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #01ABB9 0 -3px 0 inset;
}
  
.single-item button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #01ABB9 0 -3px 0 inset;
    transform: translateY(-2px);
}
  
.single-item button:active {
    box-shadow: #01ABB9 0 3px 7px inset;
    transform: translateY(2px);
}