.graph-container {
    /*
    background-image: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    */
    background: transparent;
    border: rgba(255,255,255,0.2);
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}
  
.element-data {
    background-color: #01ABB9;
    color: #FFFFFF;
}

.highlight-text {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #FDC467 50%, rgba(255, 255, 255, 0) 50%);
    color: #353535;
    background-size: 200% 100%;
    background-position: 100% 0;
}

@-webkit-keyframes highlight {
to {
    background-position: 0 0;
}
}

@keyframes highlight {
to {
    background-position: 0 0;
}
}
.chart {
    width: 100%;
    height: 100%;
}

.temp-button {
    background: #efefef;
    border: none;
    color: #444;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5),
       inset 3px 3px 7px rgba(136, 165, 191, 0.48), 
      inset -3px -3px 7px #FFFFFF;
    background: linear-gradient(318.32deg, rgba(163, 177, 198, 0.1) 0%, rgba(163, 177, 198, 0.1) 55%, rgba(163, 177, 198, 0.25) 100%);
}