.graph-container {
    background-image: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
  
.element-data {
    background-color: #01ABB9;
    color: #FFFFFF;
}

.highlight-text {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #FDC467 50%, rgba(255, 255, 255, 0) 50%);
    color: #353535;
    background-size: 200% 100%;
    background-position: 100% 0;
}

@-webkit-keyframes highlight {
to {
    background-position: 0 0;
}
}

@keyframes highlight {
to {
    background-position: 0 0;
}
}