.carousel {
    background: hsla(37, 97%, 70%, 1);

    background: linear-gradient(135deg, hsla(37, 97%, 70%, 1) 0%, hsla(197, 25%, 50%, 1) 100%);

    background: -moz-linear-gradient(135deg, hsla(37, 97%, 70%, 1) 0%, hsla(197, 25%, 50%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(37, 97%, 70%, 1) 0%, hsla(197, 25%, 50%, 1) 100%);
}

.carousel-span {
    color: #FFFFFF !important;
}

.carousel p {
    color: #FFFFFF !important;
}

.carousel a,
.carousel h6 {

   color: #796ab2;
}

.carousel a:hover {
  color: #544a7d;
  transition: 0.5s;
}

.singleNews-btn {
  border: none;
  background-color: #FFFFFF;
  color: #544a7d;
}

.singleNews-btn:hover {
  color: #FFFFFF;
  background-color: #675b94;
  transition: 0.7s;
}

.animate.pop {
    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  }
  
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }