@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600&display=swap');

body{
    font-family: 'Archivo', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration-line: none;
}

.App {
  background-color: #e0e5ec;
  box-shadow: 0px 0px 10px 5px rgb(82 82 82 / 72%);
  -webkit-box-shadow: 0px 0px 10px 5px rgb(82 82 82 / 72%);
  -moz-box-shadow: 0px 0px 10px 5px rgb(82 82 82 / 72%);
  
}

@media only screen and (min-width: 0) {
  .intro {
    max-width: 600px;
    line-height: 25px;
  }
  .single-item {
    max-width: 450px;
  }
  .graph-img {
    max-width: 150px;
  }
  .btn-comp-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 576px) {
  .single-item {
    max-width: 500px;
  }
  .graph-container {
    max-width: 550px;
  }
  .description {
    max-width: 500px;
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    max-width: 650px;
  }
  .single-item {
    max-width: 590px;
  }
  .graph-container {
    width: 600px;
  }
}

@media only screen and (min-width: 992px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .App {
    min-width: 960px;
    height: 650px;
  }
  .main-sidebar-content {
    width: 250px;
  }
  .items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  .graph-img {
    height: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .App {
    min-width: 1100px;
  }
  .main-sidebar-content {
    width: 250px;
  }
  .items-container {
    grid-gap: 20px;
  }
}